body {
  font-family: "Courier New", Courier, monospace;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aquamarine;
  align-items: center;
}
header h1 {
  position: relative;
  left: 50px;
}
#work img:hover {
  opacity: 60%;
}
main:hover {
  background-image: url(./images/austin.png);
  background-repeat: none;
  background-position: right;
}

nav a {
  text-decoration: none;
  color: black;
  margin: 5px;
  font-weight: bolder;
  position: relative;
  right: 50px;
}
nav ul {
  gap: 20rem;
}
article p {
  flex-basis: 80%;
}
#about h2 {
  position: relative;
  left: 5px;
}
main #work {
  background-color: rgba(128, 0, 128, 0.445);
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
  border-radius: 2%;
}

#work h2 {
  position: relative;
  top: 150px;
  width: 200;
}

main #about {
  background-color: rgba(128, 0, 128, 0.445);
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
  border-radius: 20%;
}

article {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

article figure {
  background-color: blueviolet;
  height: 200px;
  background-size: cover;
  background-position: center;
  justify-content: center;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aquamarine;
  align-items: center;
  border-radius: 2%;
}
#contact ul {
  text-decoration: none;
}

#img1 {
  flex: 2;
  flex-basis: 100%;
  background-image: url(./images/boxing\ ring.jpg);
}

#img2,
#img3,
#img4,
#img5 {
  /*flex: 1;
flex-basis: 100%;*/
  width: 35%;
}

#img2 {
  background-image: url(./images/gaming-keyboard.jpg);
}

#img3 {
  background-image: url(./images/chalkboard.jpg);
}

#img4 {
  background-image: url(./images/drweightloss.jpg);
}

#img5 {
  background-image: url(./images/Fantasy-football-image.png);
}

#instagram {
  background-image: url(./images//email-logo-png-30.png);
}

@media screen and (max-width: 600px) {
  #img2,
  #img3,
  #img4,
  #img5 {
    width: 100%;
  }
}
